<header class="header">
  <div class="container nav">
    <a href="/index.html#hero" class="logo" aria-label="Home">
      <img
        class="logo-img"
        src="/assets/images/png/nrkmrvl.coder_logo_128px.png"
        alt="nrkmrvl logo"
        width="40"
        height="40"
      />
    </a>
    <ul class="nav-links">
      <li>
        <a href="/index.html#hero" data-section="hero" data-i18n="nav.home"
          >.home</a
        >
      </li>
      <li>
        <a href="/index.html#about" data-section="about" data-i18n="nav.about"
          >.about</a
        >
      </li>
      <li>
        <a
          href="/index.html#features"
          data-section="features"
          data-i18n="nav.features"
          >.features</a
        >
      </li>
      <li>
        <a
          href="/index.html#projects"
          data-section="projects"
          data-i18n="nav.projects"
          >.projects</a
        >
      </li>
      <li>
        <a
          href="/index.html#contact"
          data-section="contact"
          data-i18n="nav.contact"
          >.contact</a
        >
      </li>
      <li>
        <a
          href="/wordpress.html"
          class="btn-secondary"
          aria-label="WorPress"
          data-i18n="nav.wordpress"
        >
          WordPress
        </a>
      </li>
    </ul>
    <button
      class="mobile-menu-btn"
      aria-label="Toggle menu"
      aria-expanded="false"
    >
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
    </button>
  </div>
</header>
